body {
	font-family: 'Barlow Condensed', sans-serif;
	background-color: #fffcfc;
}

div {
	display:block;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
	color:black;
	text-decoration: none;
}

p{
	font-size:17px;
	line-height: 141%;
	letter-spacing: 0.0125em;
}
h1 {
	margin-left:150px;
	margin-bottom: 0px;
	font-weight: 300;
	font-size: 48px;
	padding-top: 34px;
}

.name {
	margin-top: 60px;
	margin-left:150px;
	margin-bottom: 0px;
	font-weight: 500;
	font-size: 29px;
}

h3 {
	margin-top: 4px;
	margin-left:150px;
	margin-bottom: 0px;
	font-weight: 300;
	font-size: 52px;
}


.top {
	font-size: 19px;
	font-weight: 300;
	padding-top: 40px;
	height:50px;
	margin:auto;
	margin-left: 81px;
	width:625px;
	height:50px;
	opacity:0.8;
}

.section {
	display: inline-block;
	margin: auto;
	float:left;
	text-align: left;
	margin-right: 12px;
	letter-spacing: 0.025em;
	font-weight: 400;
}

#home{
	font-weight: 500;
	margin-right: 20px;
}

#career {
}

#colab {
}

#awards {
	font-weight: 300;
}

#legacy {
}


.text{
	margin-top: 52px;
}

.lefttext {
	float:left;
	margin-left: 150px;
    width: 580px;
    padding-top: 0px;
}


.content {
	width:1300px;
	height:1200px;
	background-image: URL(../images/Group.png);
	background-size: 50%;
	background-repeat: no-repeat;
	margin:auto;
	margin-top: 0px;
	margin-left: 660px;
}

.page {
	float:left;
	display:inline-block;
}












