html{
	font-family: 'Roboto Condensed', sans-serif;
	background-color:#839bc1;
	padding-left: 2cm;
	padding-right:2cm;
	padding-bottom:5cm;
	padding-top:2cm;
	text-align: left;
	letter-spacing: .08em;
}


.section{
	padding:32px;
	padding-bottom:2cm;
	padding-left:1cm;
	padding-right:1cm;
	background-color:white;
}
.section .subtitle{
	color:#a6bad8;
	font-size:30px;
	font-weight:lighter;
}

.section .title{
	color:#839bc1;
	font-size:90px;
	font-style:bold;
}

.chorus{
	font-family: 'Open Sans', sans-serif;
	font-size:40px;
	font-weight:bold;
	font-style:oblique;
	background-color:#839bc1;
	text-align:center;
	padding-top:1cm;
	padding-bottom:1cm;
}
#backup {
	color:#a6bad8;
}

