

body {
	font-family: 'Roboto', sans-serif;
	background-color:black;
}

div {
	display:block;
}

*, *:before, *:after {
  box-sizing: border-box;
  align-content: center;
}

a {
	color:white;
	text-decoration: none;
}

img {
	width:100%;
	height:100%;
}

.container {
	background-image:url("../images/advisory.png");
	background-size: 100%;
	width:600px;
	height:400px;
	align-content: center;
	margin:auto;
	margin-top:250px;

	opacity:0.8;
	transition-duration: 1s;
	transition-property: opacity;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
}
.container:hover {
	opacity:0.4;
}

.top {
	padding-top: 25px;
	height:50px;
	margin:auto;
	width:500px;
	height:50px;
}
.section {
	display: inline-block;
	margin: auto;
	float:left;
	text-align: center;
	width:125px;
}


.intro {
	font-family: 'Permanent Marker', cursive;
}