
body{
	font-family: 'Ubuntu';
	font-size: 24px;
	background-color: lightsalmon;
}

h2{
	font-size:28px;
}

h3{
	font-size:16px;
	font-color:grey;
	font-style:normal;
	letter-spacing:normal;
	text-decoration: none;
	text-transform:none;
}


.section {
	padding: 40px;
	background-color: white;
}


.font-style .normal {
	font-style:normal;
}
.font-style .italic {
	font-style:italic;
}

.font-weight .normal {
	font-weight:normal;
}
.font-weight .bold{
	font-weight:bold;
}

.letter-spacing .normal {
	letter-spacing:normal;
}
.letter-spacing .positive {
	letter-spacing:.3em;
}
.letter-spacing .negative {
	letter-spacing:-.06em;
}

.text-decoration .normal {
	text-decoration: none;
}
.text-decoration .underline {
	text-decoration: underline;
}
.text-decoration .line-through{
	text-decoration: line-through;
}
.text-decoration .overline{
	text-decoration: overline;
}

.text-transform .none{
	text-transform:none;
}
.text-transform .uppercase{
	text-transform:uppercase;
}
.text-transform .lowercase{
	text-transform:lowercase;
}
.text-transform .capitalize{
	text-transform:capitalize;
}






